header{
    height: 800px;
    background-color: rgba(229, 84, 115, 0.10);
   
}
.head-container{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0px 50px;
    align-items: center;
    gap: 97px;
}
.btn-primary{
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    background-color: #E55473;
}
.title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.des-part{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.hot-deal{
   padding: 100px;
   background-color: rgba(229, 84, 115, 0.05);
    
}


.insta-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-top: 100px;
}
.insta-p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.insta-pics{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 60px;
}
.last-part{
background-image: url("../images/Rectangle\ 9.png");
background-size: cover;
background-repeat: no-repeat;
margin:0px 240px;

}


.last-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    padding: 230px 0px 0px 540px;
    width: 1440px;
    margin-top: 128px;

}
.last-p{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.last-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px;
    background-image:  url("../images/Rectangle\ 9.png");
    background-size: cover;
    height: 400px;
    padding: 140px;
    
}
.a-box{
    padding: 22px 500px 22px 22px;
    margin-left: 15px;
    border-radius: 5px;
    
}
.a-tag{
    margin: 100px;
}
.foot-work{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cmp-nm{
    margin-top: 250px;
}
footer{
    background-color: black;
    color: white;
}
#hii{
    margin-bottom: 130px;
}
.hello{
    color: #E55473;
}
.bonus{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bonus-h1{
    margin-top: 178px;
}
.bonus-trees{
    display: flex;
    justify-content: space-around;
    
}
.tree1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    align-items: center;
    margin-top: 55px;
    width: 310px;
height: 428px;
}

.tree2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    align-items: center;
    margin-top: 55px;
    caption-side: bottom;
}
.tree3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    align-items: center;
    margin-top: 55px;
}
